form {
	margin: 40px 100px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

fieldset {
  border:1px solid black;
  padding:10px;
  width:55%;
}	

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background: purple;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: darkorange;
	transform: scale(1.2);
}

table {
	margin: 20px 0px 40px 100px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

@media screen and (max-width: 768px) {
	.caixa, .principal, .conteudo-motivos, .mapa-conteudo{
		width:auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-motivos, .imagem-motivos{
		width:100%;
	}
