body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #0000ff;
		padding: 10px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: -100px;
}

nav li {
	display: block;
	margin: 0 0 0 10px;
	padding-top: 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #00E5FF;
	text-decoration: underline;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.principal{
	padding: 3em 0;
	background:#00E5FF;
	width: 100%;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	padding: 10px;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-weight:italic;
}

.pessoasfelizes{
	width:360px;
	float: left;
	margin:0px 20px 20px 0;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#00E5FF, #1200FF);
}

.mapa-conteudo{
	width:940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.motivos{
	padding: 3em 0;
	background: #1200FF;
}

.conteudo-motivos{
	width:640px;
	margin:0 auto;
}

.lista-motivos{
	width:30%;
	display:inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content:"★";
}

.imagem-motivos {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000; 
}

.imagem-motivos:hover{
	opacity: 0.5;

}

footer {
	text-align: center;
	background-color: orange;
	padding: 20px 0;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-motivos, .mapa-conteudo{
		width:auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-motivos, .imagem-motivos{
		width:100%;
	}
