body {
    font-family: 'Montserrat', sans-serif;
}

header {
	background: #0000ff;
		padding: 10px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: -100px;
}

nav li {
	display: block;
	margin: 0 0 0 10px;
	padding-top: 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #00E5FF;
	text-decoration: underline;
}

.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
}

.principal{
	padding: 3em 0;
	background:#00E5FF;
	width: 100%;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
	padding: 10px;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-weight:italic;
}

.pessoasfelizes{
	width:360px;
	float: left;
	margin:0px 20px 20px 0;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#00E5FF, #1200FF);
}

.mapa-conteudo{
	width:940px;
	margin: 0 auto;
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.motivos{
	padding: 3em 0;
	background: #1200FF;
}

.conteudo-motivos{
	width:640px;
	margin:0 auto;
}

.lista-motivos{
	width:30%;
	display:inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content:"★";
}

.imagem-motivos {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000; 
}

.imagem-motivos:hover{
	opacity: 0.5;

}

footer {
	text-align: center;
	background-color: orange;
	padding: 20px 0;
}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

.destinos {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	background: linear-gradient(#1200FF, #00E5FF);

}

.destinos li {
	display: block;
	text-align: center;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.destinos li:hover {
	border-color: orange;
}

.destinos li:active {
	border-color: #088C19;	
}

.destinos li:hover h2 {
	font-size: 34px;
}

.destinos h2, a {
	font-size: 30px;
	font-weight: bold;
	color: #00E5FF;
	text-decoration: underline;

}

.destinos-descricao {
	font-size: 18px;
}
@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-motivos, .mapa-conteudo{
		width:auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-motivos, .imagem-motivos{
		width:100%;
	}
